<ion-content [fullscreen]="true" overflow-scroll="false" class="contenedor">

  <ion-card-header>
    <ion-header>
      <ion-title class="centered-title headert">PINGUGRAM</ion-title>
    </ion-header>
    <div class="parrafos">
      <p>Admin</p>
      <p>Usuario</p>
      <p>Invitado</p>
    </div>

    <div class="button-container">
      <ion-fab class="custom-fab-inicio" horizontal="start">
        <ion-fab-button class="colorin" (click)="CargaUsuarios(1)">
          <img src="/assets/background/user1.png" alt="">
        </ion-fab-button>
      </ion-fab>
      <ion-fab class="custom-fab-medio" horizontal="center">
        <ion-fab-button class="colorin" (click)="CargaUsuarios(2)">
          <img src="/assets/background/user2.png" alt="">
        </ion-fab-button>
      </ion-fab>
      <ion-fab class="custom-fab-final" horizontal="end">
        <ion-fab-button class="colorin" (click)="CargaUsuarios(3)">
          <img src="/assets/background/user3.png" alt="">
        </ion-fab-button>
      </ion-fab>
    </div>
  </ion-card-header>
  <br>
  <ion-card class="card" color="dark">
    <img class="gif" src="/assets/background/pingucam.gif" alt="gif" />

    <ion-card-content>
      <form (submit)="Login()">

        <ion-item class="ion-item">
          <ion-icon name="person" class="icon-login"></ion-icon>
          <ion-input class="ionput" aria-label="Correo" [clearOnEdit]="true" type="email" [formControl]="correo"
            required placeholder="Correo" errorText="Correo invalido" helperText="Ingrese un correo valido"
            full></ion-input>
        </ion-item>
        <div class="alert alert-danger mensajeError mt-1 bi bi-exclamation-octagon-fill"
          [hidden]="correo.valid || (correo.pristine && correo.untouched)">

          <span *ngIf="correo.errors?.['required']">
            Este campo es obligatorio
          </span>

          <span *ngIf="correo.errors?.['email']">
            Debe contener @
          </span>
        </div>
        <br>
        <ion-item class="ion-item">
          <ion-icon name="key" class="icon-login"></ion-icon>
          <ion-input class="ionput" aria-label="Contraseña" [clearOnEdit]="true" type="password" required
            placeholder="Contraseña" [formControl]="password" [counter]="true" maxlength="8"
            errorText="Contraseña incorrecta" full></ion-input>
        </ion-item>

        <div class="alert alert-danger mensajeError mt-1 bi bi-exclamation-octagon-fill"
          [hidden]="password.valid || (password.pristine && password.untouched)">

          <span *ngIf="password.errors?.['required']">
            Este campo es obligatorio
          </span>

          <span *ngIf="password.errors?.['minlength']">
            Debe tener como minimo 6 caracteres
          </span>

        </div>
        <br>
        <div>
          <ion-button expand="block" type="submit"> Ingresar </ion-button>
        </div>

      </form>
    </ion-card-content>
  </ion-card>
   <!-- ******************************* SPINNER *******************************-->
   <div *ngIf="showSpinner" class="custom-spinner">
    <h1 class="spinnerh1">Cargando...</h1>
    <img src="/assets/icon/icon.png" alt="Custom Spinner" />
  </div>
</ion-content>